.post-container {
    background-color: var(--lightest-color);
    width: 90%;
    margin: auto;
    padding: 2em;
    border: 1px solid var(--darkest-color);
    margin-bottom: 2em;
 
}
h2 {
    margin: 1.5em;
}
h3, h4, h5 {
    margin: 0.5em;
}
.review {
    margin: 2em;
}